<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Users </h2> </br>
        </div>
      </div>
    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Знайти</button>
    </form>
  </div>
  <div>
    <% @users.each do |user| %>
      <ul>
        <li>Lastname: <%= link_to user.lastname, edit_user_path(user) %></li>
        <li>Firstname: <%=  user.firstname %></li>
        <li>Surname: <%=  user.surname %></li>
        <li>Mail: <%=  user.mail %></li>
        <li>Home: <%=  user.home %></li>
        <%= button_to 'Delete', user_path(user), method: :delete %>
      </ul>
    <% end %>
  </div>
</section>