<section id="scroll">
  <div>
    <div class="scrollform">
      <%= link_to 'Користувачі', users_path %>
      <%= link_to 'Сертифікати', certificates_path %>
      <%= link_to 'Навички', skills_path %>
      <%= link_to 'Типи сертифікатів', certs_path %>
      <a href=""> Акаунти</a>
    </div>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Users </h2>
        </div>
      </div>
    </div>
    <div style ="width: 50%; margin: 0 auto;">
      <div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>
      </div>
      <div>
        <%= button_to 'New User', new_user_path, method: :get %>
      </div>
    </div>
  </div>
  <div>
    <table>
      <tr><th>Фамілія</th><th>Ім'я</th><th>По батькові</th><th>Пошта</th><th>Адреса</th><th>Акаунт</th></tr>
      <% @users.each do |user| %>
        <tr><td><%= link_to user.lastname, edit_user_path(user) %></td><td><%=  user.firstname %></td><td><%=  user.surname %></td><td><%=  user.mail %></td><td><%=  user.home %></td><td><%=  user.accaunt %></td></tr>
        <tr><td colspan="6" align="right">
          <%= button_to 'Delete', user_path(user), method: :delete %>
        </td></tr>
      <% end %>
    </table>
  </div>
  </div>
</section>