<section id="scroll">
  <div>
    <nav class="nav justify-content-end">
      <nav class="nav nav-pills flex-column">
        <%= link_to 'Користувачі', users_path, class: "btn btn-dark" %>
        <%= link_to 'Сертифікати', certificates_path, class: "btn btn-dark" %>
        <%= link_to 'Навички', skills_path, class: "btn btn-dark" %>
        <%= link_to 'Типи сертифікатів', certs_path, class: "btn btn-dark" %>
        <a href=""> Акаунти</a>
      </nav>
    </nav>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Users </h2>
        </div>
      </div>
    </div>
    <div style ="width: 60%; margin: 1 auto;">
      <div>
        <form class="d-flex">
          <input class="form-control me-2" name="s" type="search" placeholder="Пошук за Іменем" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>
      </div>
    </div>
  </div>
    <div class="d-flex">
      <%= button_to 'Усі користувачі', users_path, method: :get %>
      <%= button_to 'Новий користувач', new_user_path, method: :get %>
    </div>
  <div>
    <% unless @users.empty? %>
      <table>
        <tr><th>Фамілія</th><th>Ім'я</th><th>По батькові</th><th>Пошта</th><th>Адреса</th><th>Акаунт</th></tr>
        <% @users.each do |user| %>
          <tr><td><%= link_to user.lastname, user_path(user) %></td><td><%=  user.firstname %></td><td><%=  user.surname %></td><td><%=  user.mail %></td><td><%=  user.home %></td><td><%=  user.accaunt %></td></tr>
          <tr><td align="left">
            <%= button_to 'Змінити', edit_user_path(user), method: :get %>
          </td><td colspan="5" align="right">
            <%= button_to 'Видалити', user_path(user), method: :delete %>
          </td></tr>
        <% end %>
      </table>
    <% else %>
      <h2> No Users </h2>
    <% end %>
  </div>
  </div>
</section>