<h2> new User </h2> </br>

<%= simple_form_for @user do |f| %>
  <%= f.input :lastname, label: 'Lastname:', input_html: {class: "form-text"} %>
  <%= f.input :firstname, label: 'Firstname:', input_html: {class: "form-text"} %>
  <%= f.input :surname, label: 'Surname:', input_html: {class: "form-text"} %>
  <%= f.input :foto, label: 'Foto:', input_html: {class: "form-text"} %>
  <%= f.input :mail, label: 'Email addr:', input_html: {class: "form-text"} %>
  <%= f.input :home, label: 'Home addr:', input_html: {class: "form-text"} %>
  <%= f.association :skills, label: 'Skills:', input_html: {class: "form-text"} %>
  <%= f.input :resume, label: 'Resume:', input_html: {class: "form-text"} %>
  <%= f.input :resume_active, label: 'Resume is active:', input_html: {class: "form-text"} %>
  <%= f.input :comment, label: 'Comments:', input_html: {class: "form-text"} %>
  <%= f.button :submit, "Save", class: "btn btn-warning" %>
<% end %>