<h2> show User </h2>

<ul>
  <li>Lastname: <%= @user.lastname %></li>
  <li>Firstname: <%=  @user.firstname %></li>
  <li>Surname: <%=  @user.surname %></li>
  <li>Accaunt: <%=  @user.accaunt %></li>
  <li>Mail: <%=  @user.mail %></li>
  <li>Home: <%=  @user.home %></li>
  <li>Skills: <%=  @user.user_skills %></li>
  <li>Resume_active: <%=  @user.resume_active %></li>
  <li>Comment: <%=  @user.comment %></li>
</ul>

<%= button_to 'Повернутись', users_path, method: :get %>