<h2> edit Skill </h2> </br>

<%= form_tag skill_path(@skill), method: :put do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @skill.name %>
  <%= label_tag :description %>
  <%= text_field_tag :description, @skill.description %>
  <%= submit_tag "Update", class: "btn btn-warning" %>
<% end %>