<section id="scroll">
  <div>
    <div class="scrollform">
      <%= link_to 'Користувачі', users_path %>
      <%= link_to 'Сертифікати', certificates_path %>
      <%= link_to 'Навички', skills_path %>
      <%= link_to 'Типи сертифікатів', certs_path %>
      <a href=""> Акаунти</a>
    </div>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Skills </h2>
        </div>
      </div>
    </div>
    <div style ="width: 50%; margin: 0 auto;">
      <div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>
      </div>
      <div>
        <%= button_to 'New Skill', new_skill_path, method: :get %>
      </div>
    </div>
  </div>
  <div>
    <table>
      <tr><th>Назва навику</th><th>Описання навику</th></tr>
        <% @skills.each do |skill| %>
        <tr><td><%= link_to skill.name, edit_skill_path(skill) %></td><td><%=  skill.description %></td></tr>
        <tr><td colspan="2" align="right">
          <%= button_to 'Delete', skill_path(skill), method: :delete %>
        </td></tr>
       <% end %>
    </table>
  </div>
  </div>
</section>