<section id="scroll">
  <div>
    <nav class="nav justify-content-end">
      <nav class="nav flex-column">
        <%= link_to 'Користувачі', users_path, class: "btn btn-dark" %>
        <%= link_to 'Сертифікати', certificates_path, class: "btn btn-dark" %>
        <%= link_to 'Навички', skills_path, class: "btn btn-dark" %>
        <%= link_to 'Типи сертифікатів', certs_path, class: "btn btn-dark" %>
        <a href=""> Акаунти</a>
      </nav>
    </nav>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Skills </h2>
        </div>
      </div>
    </div>
    <div style ="width: 60%; margin: 0 auto;">
      <div>
        <form class="d-flex">
          <input class="form-control me-2" name="s" type="search" placeholder="Пошук за назвою" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>
      </div>
    </div>
  </div>
    <div class="d-flex">
      <%= button_to 'Усі навики', skills_path, method: :get %>
      <%= button_to 'Новий навик', new_skill_path, method: :get %>
    </div>
  <div>
    <% unless @skills.empty? %>
      <table>
        <tr><th>Назва навику</th><th>Описання навику</th></tr>
        <% @skills.each do |skill| %>
          <tr><td><%= link_to skill.name, skill_path(skill) %></td><td><%=  skill.description %></td></tr>
          <tr><td align="left">
            <%= button_to 'Змінити', edit_skill_path(skill), method: :get %>
          </td><td align="right">
            <%= button_to 'Видалити', skill_path(skill), method: :delete %>
          </td></tr>
        <% end %>
      </table>
    <% else %>
      <h2> No Skills </h2>
    <% end %>
  </div>
  </div>
</section>