<section id="scroll">
  <div>
    <nav class="nav justify-content-end">
      <nav class="nav flex-column">
        <%= link_to 'Користувачі', users_path, class: "btn btn-dark" %>
        <%= link_to 'Сертифікати', certificates_path, class: "btn btn-dark" %>
        <%= link_to 'Навички', skills_path, class: "btn btn-dark" %>
        <%= link_to 'Типи сертифікатів', certs_path, class: "btn btn-dark" %>
        <a href=""> Акаунти</a>
      </nav>
    </nav>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2> Certificates </h2>
        </div>
      </div>
    </div>
    <div style ="width: 60%; margin: 0 auto;">
      <div>
        <form class="d-flex">
          <input class="form-control me-2" name="s" type="search" placeholder="Пошук за номером сертифікату" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Знайти</button>
        </form>
      </div>
    </div>
  </div>
    <div class="d-flex">
      <%= button_to 'Усі сертифікати', certificates_path, method: :get %>
      <%= button_to 'Новий сертифікат', new_certificate_path, method: :get %>
    </div>
  <div>
    <% unless @certificates.empty? %>
      <table>
        <tr><th>Користувач</th><th>Тип сертифікату</th><th>Номер сертифікату</th><th>Дата отримання</th></tr>
        <% @certificates.each do |certificate| %>
          <tr><td><%= link_to certificate.user_id, certificate_path(certificate) %></td><td><%=  certificate.cert_id %></td><td><%=  certificate.number %></td><td><%=  certificate.data %></td></tr>
          <tr><td align="left">
            <%= button_to 'Змінити', edit_certificate_path(certificate), method: :get %>
          </td><td colspan="3" align="right">
            <%= button_to 'Видалити', certificate_path(certificate), method: :delete %>
          </td></tr>
        <% end %>
      </table>
    <% else %>
      <h2> No Certificates </h2>
    <% end %>
  </div>
  </div>
</section>