<h2> new Certificates </h2> </br>

<%= form_tag certificates_path, method: :post do %>
  <%= label_tag :user %>
  <%= text_field_tag :user %>
  <%= label_tag :certs %>
  <%= text_field_tag :certs %>
  <%= label_tag :number %>
  <%= text_field_tag :number %>
  <%= label_tag :data %>
  <%= date_field_tag :data %>
  <%= label_tag :file %>
  <%= text_field_tag :file %>
  <%= submit_tag "Save", class: "btn btn-warning" %>
<% end %>