<h2> show Certificate </h2>

<ul>
  <li>User: <%= @certificate.user %></li>
  <li>Cert type: <%=  @certificate.certs %></li>
  <li>Number: <%=  @certificate.number %></li>
  <li>Data: <%=  @certificate.data %></li>
  <li>File: <%=  @certificate.file %></li>
</ul>