<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'%>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">My DB Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Головна</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info">Про проект</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recruter">Рекрутерам</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Адмінка</a>
            </li>
          </ul>
        </div>
        <% if accaunt_signed_in? %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a style="color: #CCCCCC"> Вітаємо, <%= current_accaunt.email %></a>
          <%= link_to 'Акаунт', edit_accaunt_registration_path, method: :delete, class: "btn btn-primary" %>
          <%= link_to 'Вихід', destroy_accaunt_session_path, method: :delete, class: "btn btn-primary" %>
        </div>
        <% else %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%= link_to 'Увійти', new_accaunt_session_path, class: "btn btn-primary" %>
          <%= link_to 'Реєстрація', new_accaunt_registration_path, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </nav>
  </div>

  <div class="jumbotron vertical-center">
    <div class="container">
      <% render 'include/main/notification' %>

    <%= yield %>

    </div>
  </div>

  </body>

</html>
